{% extends "base.html" %}

{% block content %}

{% include 'nav.html' %}

<div style="margin-top: 110px;">
        {% if chords %}
            <ul class="list-unstyled">
                {% for chord in chords %}
                    <li class="text-center m-4">
                        {{chord.name}} - {{chord.notes}}
                        
                        <div class = "chord-images">
                            {% for image in chord.images.all %}
                                <img src = "{{ image.image.url }}"
                                    alt = "{{ chord.name }}"
                                    class = "chord-img">
                            {% empty %}
                                <p>Image not available</p>
                            {% endfor %}
                        </div>
                        
                    </li>
                    
                        
                {% endfor%}
            </ul>
        {% elif request.GET.q %}
            <p> Results not found for "{{request.GET.q}}"</p>
        {% endif %}
    </div>

<div class="upload-fab">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="upload-input" class="plus-icon">+</label>

        <input 
            id="upload-input" 
            type="file" 
            name="media"
            accept="image/*,video/*"
            hidden
        >
    </form>
</div>
{% endblock %}