{% extends "base.html" %}

{% block content %}

<form>
    <input type="text" name = "q" placeholder="Search...">
    <button type="submit">Search</button>
<form class="text-center m-4">
    <div class="input-group mx-auto" style="width: 400px;">
        <input type="text" class="form-control" placeholder="Search...">
        <button class="btn btn-success" type="submit">Go</button>
    </div> 
</form>

<ul>
    {% for chord in chords %}
        <li>
            {{chord.name}} - {{chord.notes}}
        </li>
    {% endfor%}

</ul>

{% endblock %}